## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [3]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [4]:
for word in words:
    if len(word) >= 5:
        print(word)

filling
theatre
easygoing
story
island

**Print the first word starting with "t"**

In [ ]:
def filter_word(word):
    if word[0] == "t":
        return word

filtered = []

for word in words:
    if filter_word(word) != None:
        filtered.append(word)
        
print(filtered[0])

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [3]:
numbers = range(1, 11)

for n in numbers:
    print(n ** 2)

1
4
9
16
25
36
49
64
81
100

**Print a list containing the square of every odd number from 1 to 10**

In [ ]:
filtered_numbers = []

for n in numbers:
    if n %2 != 0:
        filtered_numbers.append(n ** 2)
print(filtered_numbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [ ]:
long_numbers = range(1, 1001)
filtered_long_numbers = []

for n in long_numbers:
    if n % 8 == 0:
        filtered_long_numbers.append(n ** 2)

print(filtered_long_numbers)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064, 1000000]

## People

In [15]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [10]:
print(len(people))

5

**How many people have kids**?

In [ ]:
def filter_parents(person):
    if person["n_kids"] != 0:
        return person
    
filtered_parents = []

for person in people:
    if filter_parents(person) != None:
        filtered_parents.append(person)

print(filtered_parents)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 2}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]

**How many kids do they have in total?**

In [ ]:
total = 0

for person in filtered_parents:
    total += person["n_kids"]

print(total)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [ ]:
filtered_a = []

for person in people:
    if person["name"][-1] == "a":
        filtered_a.append(person)
        
for person in filtered_a:
    if person["name"][-1] == "a":
        person["n_kids"] += 1
        print(person)

{'name': 'Sonia', 'age': 41, 'n_kids': 2}
{'name': 'Lucía', 'age': 22, 'n_kids': 3}